@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&family=Shadows+Into+Light+Two&display=swap');
body{
    background-color: grey;
    font-family: 'Shadows Into Light Two', cursive;
}
.Title {
    display: flex;
    justify-content: center;
    font-size: 5em;
}

.showDown { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.RPS_icons{
    display: flex;
    justify-content: space-around;
    flex: 3 0 0;
    padding-left: 13em;
}

.icons{
    height:100px;
    width: 100px;
    border: 5px solid black;
}

.icons:hover{
    height:105px;
    width: 105px;
    border: 5px solid white;

}

#Robot{
    height: 30em;
    width: 480px
}

#humanScore, #computerScore{
    font-size: 5em;
    padding-left: 40px;
}

#status{
    display: inline-block;
    font-size: 2em;
    white-space: nowrap;
    position: relative;
    z-index: auto;
}

.score{
    display: flex;
    flex-direction: column;
 
}

.paper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.status{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 150px;
    font-size: 2em;

}


